@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;800&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Exo', sans-serif;
}

/*Tela preta (black screen)*/
.blackScreen{
     background-color: rgba(0, 0, 0, 0.636) !important;
     display: flex;
     height: 100vh !important;
     left: 0 !important;
     position: absolute !important;
     top: 0 !important;
     width: 100vw !important;
     z-index: 2 !important;
     transition: all 0.4s;
}

/*Classe centralizadora - linha*/
.centeredRow{
     align-items: center;
     display: flex;
     justify-content: center;
}

/*Classe centralizadora - coluna*/
.centeredColumn{
     align-items: center !important;
     display: flex !important;
     flex-direction: column !important;
     justify-content: center !important;
}

/*Barra de navegação*/

.nav-item button:hover{
     border-radius: 5px;
     cursor: pointer !important;
     font-weight: 400 !important;
     outline: 0;
}

/*Página principal do site*/
.coverSite{
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 85vh !important;
}

.coverSite i{
     color: grey;
     font-size: x-large;
}

.coverSite img{
     max-width: 50vw;
     width: 100%;
}

.coverSitePhrase{
     display: flex;
     flex-direction: column;
}

#btnInfo{
     border-radius: 8px !important;
     max-width: fit-content !important;
     padding: 8px !important;
}

/*Serviços oferecidos*/
.services{
     width: auto;
     min-height: fit-content;
}
.cardService{
     width: 18rem;
     height: 32rem;
     border: .25px solid rgb(238, 233, 233);
     border-radius: 6px;
     margin-left: 20px;
}

.cardService:hover{
     transform: scale(1.1);
     transition: all 0.4s;
}

.boxIMC{
     display: flex;
     flex-direction: column;
     background-color: whitesmoke;
     left: 50%;
     min-height: fit-content;
     position: absolute;
     top: 50%;
     transform: translate(-50%, -50%);
     width: 18rem;
     z-index: 3;
     border-radius: 8px;
}

.boxIMC i:hover{
     color: darkred !important;
     cursor: pointer !important;
}

/*Rodapé*/
.siteFooter{
     background-color: #4775d1;
     min-height: 15vh;
     max-width: 100vw;
}

.midias{
     cursor: pointer;
     font-size: 1.4rem;
}

.midiaAlinhamento{
     margin-top: 40px;
     padding: 25px;
     text-align: center;
     color: white;
}

.credits{
     display: flex !important;
     align-items: center !important;
     justify-content: center !important;
     flex-direction: column;
}

.credits button{
     color: white;
}







@media screen and (max-width: 480px) {
     .coverSite{
          display: flex;
          max-width: 100vw;
          align-items: center;
          justify-content: center;
          flex-direction: column;
     }
     .coverSiteImg img{
          max-width: 100%;
          width: 100vw;
     }
     .coverSitePhrase h1{
          font-size: 1.5rem;
          text-align: center !important;
     }
     .coverSitePhrase button{
          display: block;
          margin: auto;
          min-width: fit-content;
          padding: 10px !important;
     }
     .services{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
     }
     .cardService{
          margin-top: 20px;
          margin-bottom: 20px;
     }


}
